### environment ###
.env
venv/

### commands ###
commands.txt

### pycache ###
__pycache__
*.pyc

### .vs ###
.vs/

### test ###
A_test.py
A_test.ipynb

### sporadic queries ###
db/**/*.ipynb

### data / models ###
data/

artifacts/*
!artifacts/rf_h1_full.pkl

### init setup
tfg_init.bat