### environment ###
.env
venv/

### commands ###
commands.txt
launch.bat

### pycache ###
__pycache__
*.pyc

### .vs ###
.vs/

### test ###
A_test.py
A_test.ipynb

### data / models ###
data/universe.db

artifacts/*
!artifacts/
!artifacts/rf_h1_full.pkl

### assets ###
imgs/assets/

### trading ###
trading/full_time_bot.py

### linting ###
node_modules
.ruff_cache