### environment ###
.env
venv/

### commands ###
commands.txt

### pycache ###
__pycache__
*.pyc

### .vs ###
.vs/

### test ###
A_test.py
A_test.ipynb

### sporadic queries ###
ingest/**/*.ipynb

### db ###
data/news.db