name: Database

on:
  schedule:
    - cron: '0 18 * * MON-FRI'  #  Monday - Friday at 7 PM Madrid 
  workflow_dispatch:     

jobs:
  send:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements/database_auto.txt

      - name: Update database
        run: python ingest/ohlcv.py
